.num-warning, .num-warning-two, .num-amount, .range-warning, .zero-range-warning {
	color: red;
	margin-left: 20px;
	display: none;
}

.result {
	font-weight: bold;
	display: none;
}

.r-value {
	display: none;
}